.greater{
position: absolute;
width: 307px;
height: 85px;
left: 166px;
top: 176px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 85px;
color: #404444;
}

.great{
position: absolute;
width: 293px;
height: 78px;
left: 166px;
top: 248px;


font-style: italic;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #404444;
}

.imagen{
position: absolute;
width: 264.19px;
height: 66.95px;
left: 166px;
top: 25px;
}

.input{
position: absolute;
width: 350px;
height: 40px;
display: flex;
background: #FFFFFF;
box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
justify-content:left;
padding-left: 10px;
align-items: center;
border: rgba(147, 146, 146, 5%) solid;
border-radius: 10px;
}

::placeholder{
    color: rgba(0, 0, 0, .70)
}

.mail{
left: 166px;
top: 322px;
}

.password{
    left: 166px;
    top: 388px;
}

.in{
    border: none;
    margin-left: 10px;
}

.in:focus{
    outline: none;
}

.icono{
    height: 30px;
    width: 30px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(147, 146, 146, 0.8)
}

input{
    height: 30px;
    width: 310px;
}


.button{
    position: absolute;
    left: 272px;
    top: 463px;
    height: 40px;
    width: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    background: #BF2A6E;
    border: none;
    cursor: pointer;
    border-radius: 11px;
    transition: transform 0.3s ease;
}


.button:active{
    transform: scale(0.95);
    box-shadow: 0 3px 8px 3px rgb(0,0,0,.10);
}

.button:hover{
    background-color: #78174F;
}

.loginImg{
    position:absolute;
    right: 0;
    bottom: 0;
    width: 604px;
    height: 737px;
}

.forgot{
position: absolute;
left: 301px;
top: 528px;
font-weight: 400;
font-size: 12px;
color: #717979;
cursor: pointer;
text-decoration-line: underline;
}

.fondo{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 95%;
    height: auto;
}